.table_row:hover {
  background-color: rgb(240, 240, 240);
}
.table_cell {
  text-transform: capitalize;
}
.last_td {
  display: flex;
  column-gap: 10px;
}
.last_td:hover{
  cursor: pointer;
}
.icon_btn {
  width: 30px;
  height: 30px;
}
.table_row {
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}
.table_row:hover{
  cursor: pointer;
}
.table_cell:hover{
  cursor: pointer;
}
.img1{
  height: 300px;
}
.img1:hover{
  cursor: pointer;
}
.dialog{
  /* max-width: 650px; */
  width: calc(100% - 0px);
  margin: 0 auto;
  background-color: none;
  box-shadow: none;
}

#imageMagnifyer{
  width: 500px;
  height: 500px;
}
.magnifyer{
  width: 200px;
  height: 200px;
}
.imgmodifyer{
  width: 393px;
  /* padding: 30px 0 0 30px; */
  /* height: 307px; */
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
}
.App{
  justify-content: center;
}